*{
    margin: 0;
    padding: 0;
}
#first{
    background-image: url(ChatGPT\ Image\ Oct\ 21\,\ 2025\,\ 11_14_59\ PM.png);
}
#fifth{
    background-image: url(fifth.jpg);
}
#options {
    align-items: center;
    gap: 30px;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}
button {
    border: 1px solid red;
    border-radius: 20px;
    background-image: none;
    background-color: white;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: red;
    size: 10cm;
    padding: 10px;
}
#nav{
    text-decoration: none;
    display: flex;
    border-radius: 20px;
    background-color: black;
    border: 5px solid black;
    align-items: center;
    height: 110px;
    width: 99%;
    margin-right: 100px;
    justify-content: space-between;
    position: fixed;
}
#options :hover {
    border: 1px solid rgb(107, 43, 226);
    color: rgb(107, 43, 226);
    cursor: pointer;
    transform: scale(1.1);
}
#pop {
    transition: transform 0.3s ease,
box-shadow 0.3s ease;
}
#pop :hover {
    transform: scale(1.1);
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
img{
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
}
#timepass{
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: red;
    color: yellow;
    padding: 10px;
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
    border-radius: 20px;
    width: 40%;
    height: 100%;
    letter-spacing: 1px;
}
#third{
    background-image: url(third.jpg);
}
#fourth{
    background-image: url(FOUR.jpg);
}
.mention{
    gap: 30px;
    align-items: center;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
}
h2{
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 5px;
    background-color: white;
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 20px;
    padding: 5px;
    letter-spacing: 1px;
    width: 50%;
}
u{
    background-color: wheat;
    color: brown;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
}
input {
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: wheat;
    color: brown;
    border-radius: 20px;
    padding: 10px;
}
p{
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: wheat;
    color: brown;
    border-radius: 20px;
    padding: 10px;
}
#sixth{
    background-image: url(sixth.jpg);
}
#about{
    background-image: url(about.jpg);
}
h3{
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: red;
    color: yellow;
    padding: 10px;
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
    border-radius: 20px;
    width: 50%;
    height: 100%;
    letter-spacing: 1px;
}
#second{
    background-image: url(second.jpg);
}
.dialogue {
    box-shadow: 10px 10px 10px 10px rgba(0.5, 0.5, 0.5, 0.5);
    letter-spacing: 1px;
    height: 120%;
  font-family: "Story Script", sans-serif;
  padding: 5px;
  border-radius: 20px;
  font-size: 10px;
  font-weight: 400;
  background-color: white;
  color: rgb(107, 43, 226);
  font-size: larger;
}
#Urahara {
    background-image: url(kisuke.jpg);
}
.dielogue {
    box-shadow: 10px 10px 10px 10px rgba(0.5, 0.5, 0.5, 0.5);
    letter-spacing: 1px;
    height: 120%;
  font-family: "Story Script", sans-serif;
  padding: 5px;
  border-radius: 20px;
  font-size: 10px;
  font-weight: 400;
  background-color: white;
  color: green;
  font-size: larger;
}
#intro{
    background-image: url(intro.jpg);
}
#link :hover{
    color: blueviolet;
    text-decoration: none;
    cursor: pointer;
}
#click :hover{
    color: blueviolet;
    text-decoration: none;
}
a {
    margin-right: 30px;
    text-decoration: none;
    color: white;
}
.head{
  font-family: "Asimovian", sans-serif;
  font-size: 100px;
  font-weight: 400;
  font-style: normal;
  color: orange;
  text-shadow: 100cm;
}